html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;    
}
.contact img {
    width: clamp(14px, 4vw, 18px);
    height: clamp(14px, 4vw, 18px);
  }
.header {
    text-align: center; 
}
.body{
    text-align: center;
    margin: 0 10% 0 10%;
}